@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Root*/
:root {
    --primary-color: #021832;
    --secondary-color: #a3a190;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-text: #021832;
    --secondary-text: white;
    --text-white: #fff;
    --text-black: #151515;
    --gold: #867051;
    --light-gold: #bd9b71;
    --black: #20252d;
}
html,
body {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
}
::selection {
    color: #f3c033;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: var(--text-white);
}
::-webkit-scrollbar-thumb {
    background: var(--text-black);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}
a {
    color: inherit;
    text-decoration: none;
}
p {
    line-height: 28px;
    font-family: "Cormorant Garamond", serif;
}
section {
    padding: 2.511rem 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
}
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.imgg {
    width: 100%;
    height: 100%;
}
.title {
    font-family: "Oleo Script Swash Caps", system-ui;
    color: #0943a0;
    font-size: 40px;
}
.subtitle {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    width: 100%;
    display: table;
}
.free-service-item {
    width: 48%;
    margin-bottom: 20px !important;
    margin-right: 20px;
}
.free-service-item span {
    width: 70px;
    height: 70px;
}
.free-service-item .inner-title {
    margin: 0;
    text-align: center;
}
.free-service-item:nth-child(2n) {
    margin-right: 0 !important;
}
.bg-yellow {
    background-color: #3d8afb;
}
.bg-grg {
    background-color: #f5f5f5;
}
.fw-5 {
    font-weight: 500;
}
.float-left {
    float: left !important;
}
.subtitle.box-width {
    width: 700px;
    margin: 0 auto;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center image vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.owl-carousel .item img {
    display: block;
    width: 100%;
    height: 500px;
}
.swp1 {
    height: auto;
    width: 550px;
}
.shadow {
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .05) !important;
}
.testimonial-1 .carousel {
    position: inherit;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.testimonial-item-1 p {
    font-size: 26px;
    font-style: italic;
}
.name {
    font-size: 22px;
    color: #0943a0;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}
.owl-dots,
.swiper-pagination {
    display: none;
}
.service-item-2 {
    padding: 30px;
    padding-left: 30px;
    position: relative;
    padding-left: 40px;
    min-height: 150px;
}
.service-item-2:hover {
    background-color: #3d8afb !important;
}
.service-item-2:hover .icf {
    color: #0943a0 !important;
}
.icf {
    font-size: 40px;
}
.amttl {
    color: #0943a0;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
/*  HEADER */
.nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #0943a0;
    transition: color 0.3s ease-in-out;
    font-family: "EB Garamond", serif;
    font-size: 15px;
    line-height: 3.333;
    letter-spacing: 2.9px;
    font-weight: 200;
    position: relative;
    line-height: 1.5;
    text-transform: uppercase;
}
.nav-item .underline {
    height: 4px;
    background-color: transparent;
    width: 0;
    transition: width 0.6s, background-color 0.6s;
    border-radius: 70px;
    margin: 0 auto;
}
.nav-item.active-link a {
    color: #0943a0;
}
.nav-item.active-link .underline {
    width: 100%;
    background-color: #0943a0;
}
.nav-item:hover .underline {
    background-color: #0943a0;
    width: 100%;
}
.nav-item:hover a {
    color: #0943a0;
}
.nav-item:active a {
    transition: none;
}
.nav-item:active .underline {
    transition: none;
    background-color: #0943a0;
}
.navbar-nav {
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.85);
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-toggler {
    background-color: #0943a0;
    color: transparent !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:hover,
.navbar-toggler:active {
    border-color: #0943a0 !important;
    background-color: #0943a0;
    color: transparent !important;
}
.btn-3 {
    overflow: hidden;
}
/** FOOTER **/
.footer {
    background: #2b4a96;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
}
.footer p {
    text-align: left;
    color: whitesmoke;
}
.footer h4 {
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: whitesmoke;
    margin-bottom: 15px;
    border-bottom: #2b4a96 solid 3px;
    padding-bottom: 3px;
    display: table;
}
ul.conta,
ul.social_icon,
ul.link_menu {
    padding: 0;
}
ul.conta li {
    color: whitesmoke !important;
    text-align: left;
    padding-bottom: 20px;
    font-size: 18px;
    list-style: none;
}
ul.conta li i {
    padding-right: 15px;
    text-align: center;
    font-size: 20px;
}
ul.conta li a {
    color: whitesmoke;
}
ul.link_menu li {
    display: block;
    text-align: left;
}
ul.link_menu li.active a {
    color: #3d8afb;
    fill: #3d8afb !important;
}
ul.link_menu li a {
    color: whitesmoke;
    font-size: 17px;
    line-height: 28px;
    display: inline-block;
    width: -moz-max-content;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
    fill: whitesmoke;
}
ul.link_menu li a:hover {
    color: #3d8afb;
    fill: #3d8afb !important;
}
ul.social_icon {
    width: 100%;
    float: left;
    text-align: left;
}
ul.social_icon li {
    display: inline-block;
}
ul.social_icon li a {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    font-size: 27px;
    border-radius: 30px;
    margin: 0 9px;
}
.copyright {
    margin-top: 10px;
    background-color: #F5f5f5;
    border-right: inherit;
    border-left: inherit;
}
.copyright p {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-top: 0;
    padding-top: 15px;
    font-weight: bold;
}
.copyright a {
    color: #000;
    font-weight: bold;
}
.copyright a:hover {
    color: #2b4a96;
}
.footer .logo a {
    justify-content: center !important;
    position: relative;
    text-decoration: none;
}
.footer .footer-widget ul li {
    margin-bottom: 10px;
}
.footer .footer-widget ul li a {
    color: rgba(255, 255, 255, 0.7);
}
.footer .footer-widget ul li a span {
    font-size: 14px;
}
.footer .footer-widget ul li a:hover {
    color: #2b4a96;
}
.footer .footer-widget ul li a:hover span {
    color: #A3BB98;
}
.footer .footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important;
}
.footer .footer-widget .btn-primary:hover {
    background: #fff;
    border: 2px solid #fff !important;
}
.footer .social_icon li {
    list-style: none;
    display: inline-block;
    background: transparent;
    height: 40px;
    color: #2b4a96;
    border-radius: 0;
    transition: 0.3s;
}
.footer .social_icon li a {
    height: 35px;
    width: 35px;
    display: block;
    background: rgba(255, 255, 255, 0.05);
    position: relative;
    border-radius: 0;
    transition: 0.3s;
}
.footer .social_icon li a:hover {
    background: #2b4a96;
}
.footer .social_icon li a span {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.footer .social_icon li a svg {
    fill: whitesmoke;
}
#logo img {
    width: 12%;
}
ul.link_menu li {
    transition: 0.5s;
}
ul.link_menu li a:hover {
    transform: translate(10px);
}
/*Index-Home*/
.mySwiper {
    height: 100vh;
    margin-top: 0;
    overflow: hidden;
    position: relative;
}
.mySwiper .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.mySwiper .overlay::before {
    background: rgba(0, 0, 0, 0.361);
}
.mySwiper .overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.702);
    z-index: 1;
}
.mySwiper .overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mySwiper .box-slider .content-box {
    justify-content: center;
}
.mySwiper .box-slider .content-box.style-2 {
    width: 100%;
}
.mySwiper .box-slider .content-box .title {
    line-height: 1.25;
    margin-bottom: 12px;
    color: #fff;
    text-align: center;
    font-size: 85px;
    font-family: initial;
}
.mySwiper .box-slider .content-box.style-2 .sub-title {
    padding-right: 0;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 20px;
}
.mySwiper .box-slider .content-box .sub-title {
    color: #fff;
    letter-spacing: 0px;
    line-height: 28px;
    padding-right: 145px;
    margin-bottom: 40px;
    font-family: "Cerebri Sans";
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
.mySwiper .box-slider .content-box.style-2 .wrap-btn {
    display: block;
    text-align: center;
}
.mySwiper .box-slider .content-box a {
    font-weight: 600;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    /* Horizontally centers the element */
    align-items: center;
}
.box-slider {
    margin-top: 100px;
}
/*Index-About*/
/*Index-Rooms*/
/*Index-Gallery*/
/*Index - Ameneties*/
/*Index-Testimonials*/
.testimonial-item-1 .fa-quote-left {
    color: #3d8afb;
    margin-right: 10px;
    font-size: 20px;
}
.testimonial-item-1 .opinion i {
    margin-right: 10px;
    font-size: 20px;
}
/*Gallery*/
#gallery-head {
    background: url(assets/image/2.png) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.s-gallery {
    padding: 0px 0 105px;
}
.s-gallery .gallery-main .gallery-box {
    position: relative;
    height: 500px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.s-gallery .gallery-main .gallery-box:hover .content {
    height: 100%;
    opacity: 1;
    visibility: visible;
    width: 100%;
}
.s-gallery .gallery-main .gallery-box:hover {
    transform: translateY(10px);
}
.s-gallery .gallery-main .gallery-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.s-gallery div.container div.gallery-main div.row div.col-md-4 div.gallery-box {
    width: 100%;
    margin: 25px;
}
/*Rooms*/
.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('assets/image/26.png') center/cover no-repeat fixed;
    background-attachment: scroll, fixed;
    background-attachment: fixed;
    min-height: 50vh;
}
.jumbotron h2 {
    position: relative;
    display: block;
    font-size: 40px;
    color: rgb(34, 34, 34);
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    margin-bottom: 0px;
    z-index: 2;
}
html body main section.bg-grg div.container div.col div.row.bg-white div div.row div.col-md-6 div.row ul div.free-service-item.bg-grg.float-left.mb-1.mr-1 span.icon.bg-yellow.float-left.mr-2.text-center i.fas {
    margin-top: 20px;
    font-size: 30px;
}
#rooms-head {
    background: url(assets/image/10.png) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}
/*General*/
#contact-head {
    background: url(assets/image/24.png) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}
#about-head {
    background: url(assets/image/25.png) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}
#contact-head h1,
#gallery-head h1,
#rooms-head h1,
#about-head h1 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
.breacrumd {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.breacrumd li {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 3px;
    letter-spacing: 2px;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    padding-bottom: 65px;
}
.contact-info .item {
    border-right: 1px solid rgba(200, 200, 200, 0.6);
}
.contact-info .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2b4a96;
    margin: 0 auto 25px;
    width: 70px;
    height: 70px;
    min-width: 70px;
    border-radius: 50%;
}
.contact-info .item .icon i {color: #3d8afb;font-size: 26px;}
.contact-info .item h5 {text-transform: uppercase;font-size: 20px;letter-spacing: 1px;margin-bottom: 14px;}
.contact-info .item p {margin-bottom: 2px;}
/*Button*/
.btn {
    font-weight: 600;
    line-height: 50px;
    border-radius: 5px;
    font-size: 22px;
    padding: 3px 25px;
    border: 2px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    font-family: var(--primary-font);}
.btn:hover {color: #212529;text-decoration: none;}
.btn-primary-bg:hover {color: #3d8afb;background-color: transparent;border-color: #3d8afb;}
.btn-primary-bg {color: var(--text-white);background-color: #3d8afb;border-color: #3d8afb !important;}
.btn-53,.btn-53 *,.btn-53 :after,.btn-53 :before,.btn-53:after,.btn-53:before {border: 0 solid;box-sizing: border-box;}
.btn-53 {
    -webkit-tap-highlight-color: transparent;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;}
.btn-53:disabled {cursor: default;}
.btn-53:-moz-focusring {outline: auto;}
.btn-53 svg {display: block;}
.btn-53 [hidden] {display: none;}
.btn-53 {
    border: 1px solid;
    border-radius: 999px;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    overflow: hidden;
    padding: 0.5rem 3rem;
    position: relative;
    text-transform: uppercase;}
.btn-53 .original {
    background: #fff;
    color: #000;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);}
.btn-53:hover .original {transform: translateY(100%);}
.btn-53 .letters {display: inline-flex;}
.btn-53 span {opacity: 0;transform: translateY(-15px);transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;}
.btn-53 span:nth-child(2n) {transform: translateY(15px);}
.btn-53:hover span {opacity: 1;transform: translateY(0);}
.btn-53:hover span:nth-child(2) {transition-delay: 0.1s;}
.btn-53:hover span:nth-child(3),.btn-53:hover span:nth-child(4),.btn-53:hover span:nth-child(5),.btn-53:hover span:nth-child(6),.btn-53:hover span:nth-child(7),.btn-53:hover span:nth-child(8),.btn-53:hover span:nth-child(9) {transition-delay: 0.2s;}
/*Animation*/
.fadeinleft {opacity: 0;transform: translateX(200px);transition: all 1.3s ease-out;}
.fadeinright {opacity: 0;transform: translateX(-200px);transition: all 0.8s ease-out;}
.fadeindown {opacity: 0;transform: translateY(-100px);transition: all 1.2s ease-out;}
.fadeinup {opacity: 0;transform: translateY(100px);transition: all 1.2s ease-out;}
.fade-in {opacity: 0;transition: all 1.3s ease-in;}
.active-left,.active,.active-right,.active-down,.active-up {opacity: 1;transform: translateX(0);transform: translateY(0);}
.fadein {opacity: 0;}
.testimonial-item-1{padding: 25px;}
/*Contact*/
.ft-26{font-size: 26px;}
/* Media Queries */
@media only screen and (max-width: 1200px) {
    ::-webkit-scrollbar {width: 7px;}
    .subtitle.box-width {width: unset !important;}
    .owl-carousel .item img {width: 100% !important;height: 100% !important;}
    section.bg-grg div.container div.row div.col-md-4.col-lg-4 div {margin-top: unset !important;}
    .icf {margin-right: 40px !important;}
    section.bg-grg.p-0 div.container div.row div.col-md-12 div#testimonial.owl-carousel.owl-theme.bg-white.owl-loaded.owl-drag {padding: unset !important;}
    .testimonial-item-1 p {font-size: 21px !important;line-height: unset !important;}
    .swiper-backface-hidden .swiper-slide {margin-right: unset !important;}
    .mySwiper .box-slider .content-box .title {font-size: 25px !important;line-height: unset !important;}
    .mySwiper .box-slider .content-box.style-2 .sub-title {display: none;}
    .mySwiper {height: 70vh !important;}
    ul.conta li,ul.link_menu li {text-align: center;}
    .contact-info {display: unset !important;border-bottom: none !important;}
    .contact-info .item {width: 100%;border-right: none;border-bottom: 1px solid rgba(200, 200, 200, 0.6);padding-bottom: 40px;margin-bottom: 40px;}
    html body main section div.block-text.text-center p.text {font-size: 18px;padding: 0 40px 0 40px;}
    #contact-head h1,#gallery-head h1,#rooms-head h1,#about-head h1 {margin-top: 100px;}
    .title,.sub-title {text-align: center;}
    .free-service-item {margin-right: unset !important;width: 100% !important;}
    .box-slider {margin-top: unset !important;}
    .s-gallery {padding: 80px 0;}
    html body main section.bg-grg div.container div.col div.row.bg-white div div.row div.col-md-6 div.row ul {margin-top: 25px;}
    .jumbotron h2 {font-size: 26px !important;}
    html body main section.aboutus div.container div.row div.col-md-6 div.image img {height: 400px !important;}
    html body main section.aboutus div.container div.row div.col-md-6 div.content div img{width: 125px !important;}
    .subtitle{font-size: 15px !important;}
    html body main section div.container div.row.align-items-center div.col-lg-5.col-md-12 div.img-1.mt-sm-30 img.imgg{height: 300px !important;}}
@media only screen and (max-width: 1440px) {.s-gallery .gallery-main .gallery-box {width: 100%;margin: 0 !important;padding-bottom: 20px !important;}}
@media only screen and (max-width: 1440px) {.s-gallery .gallery-main {flex-wrap: wrap;}}
@media (min-width: 200px) {.navbar {padding: 20px 10px;}}
@media screen and (min-width: 200px) and (max-width: 950px) {.navbar-nav {display: inline-block;}}
@media only screen and (max-width: 500px) {.copyright p {font-size: 13px;}}
@media only screen and (max-width: 1000px) {
    .navbar {background-color: whitesmoke;transition: background-color 0.3s ease-in-out;}
    .nav-link {color: black;}}
@media only screen and (max-width: 1300px) {.footer h4 {text-align: center;display: inline-block;}}
@media (min-width: 200px) {.navbar {padding: 20px 10px;}}
@media screen and (min-width: 200px) and (max-width: 950px) {.navbar-nav {display: inline-block;}}
@media only screen and (max-width: 1000px) {
    .navbar {background-color: whitesmoke;transition: background-color 0.3s ease-in-out;}
    .nav-link {color: black;}}